@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* padding: 2px 0; */
  /* height: 90%; */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

@layer base {
  @font-face {
    font-family: "Aquire";
    font-style: normal;
    font-weight: 400;
    src: url(/app/public/fonts/Aquire-BW0ox.otf) format("otf");
  }
}
